.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  max-height: 100px;
  font-size: 1.25em;
  background-color: #9b9b7a;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem:hover {
  text-decoration: underline;
}

.navigationItem a {
  color: currentColor;
}
